---
layout: page
title: projects
sidebar: projects;
section:
  logo: tessa kruger
  bio: My name is Tessar. But you can call me Tessa. I push pixels and bring them to life. I play cornhole, strum the ukulele, and dig old school hip hop, 80s cars and volleyballs. I'm a freelance web developer and designer and I love to turn visions into reality.
  img: /tessadrawing.svg
---
<div class="content content--fixed">
	<div class="content__inner">
		<div class="box bg-1">
			<button type="button" class="control button button--quidel button--round-s" data-filter=".code"><span>Code</span></button>
			<button type="button" class="control button button--quidel button--round-s" data-filter=".design"><span>Design</span></button>
			<button type="button" class="control button button--quidel button--round-s" data-filter="all"><span>All</span></button>
		</div>
		<div class="container project-list">
			{% for post in site.posts %}
			{% for item in post.section%}
			<div class="mix {{ post.category }} project-block grid">
				<figure class="effect-julia">
					<img src="{{ site.url }}/{{ site.image_path }}{{ post.img_ext }}">
					<figcaption>
						<h2><span>{{ post.title-safe }}</span></h2>
						<div>
							<p class="month">{{ post.month }}</p>
							<p>{{ item.tech }}</p>
						</div>
						<a href="{{ post.url }}">View more</a>
					</figcaption>
				</figure>
			</div>
			{% endfor %}
			{% endfor %}
		</div>
	</div>
</div>

<script>
	var initialFilter = 'all';
	var hash = window.location.hash.replace(/^#/g, '');

	if (hash) {
		initialFilter = "." + hash;
	}

	var mixer = mixitup('.container', {
		load: {
			filter: initialFilter
		}
	});
</script>