---
layout: page
title: Projects
sidebar: projects;
permalink: /projects/
section:
  logo: tessa kruger
  bio: Here's a little info about moi
  img: here is an illustration of me
---
<div class="controls">
	<button type="button" class="control" data-filter=".code">Code</button>
	<button type="button" class="control" data-filter=".design">Design</button>
	<button type="button" class="control" data-filter="all">All</button>
</div>
<div class="container projects">
	{% for post in site.posts %}
	<div class="mix {{ post.categories }} project-item">
		<div class="">
		 	<a href="{{ post.url }}"><img src="{{ site.url }}/{{ site.image_path }}{{ post.img_ext }}" class="logo"></a>
		</div>
		<div class="info">
			<h5>{{ post.month }}</h5>
			{% for item in post.section%}
			<a href="{{ post.url }}"><h2>{{ item.client }}</h2></a>
			<p>{{ item.tech }}</p>
			{% endfor %}
			<a href="{{ post.url }}"><i class="fa fa-play" aria-hidden="true"></i></a>
		</div>
	</div>
	{% endfor %}
</div>

<script>
	var initialFilter = 'all';
	var hash = window.location.hash.replace(/^#/g, '');

	if (hash) {
		initialFilter = "." + hash;
	}

	var mixer = mixitup('.container', {
		load: {
			filter: initialFilter
		}
	});
</script>