<div class="more-projects">
	<h3>Wow! Time really does fly when you're having fun</h3>
	<p>I'm afraid that's the long and short of this project, but I've prepared a few more so there's no need to panic... yet.</p>

	<div class="container projects2">
		{% for post in site.posts %}
			{% for item in post.section%}
				{% if post.url != page.url %}
					<div class="mix {{ post.category }} project-block grid">
						<figure class="effect-julia">
							<img src="{{ site.url }}/{{ site.image_path }}{{ post.img_ext }}">
							<figcaption>
								<h2><span>{{ item.client }}</span></h2>
								<div>
									<p class="month">{{ post.month }}</p>
									<p>{{ item.tech }}</p>
								</div>
								<a href="{{ post.url }}">View more</a>
							</figcaption>			
						</figure>
					</div>
				{% else %}
				  {% assign found = true %}
				{% endif %}
			{% endfor %}
		{% endfor %}
	</div>

<script src="../public/js/flip-card.js"></script>
