<nav role="navigation">
  <div id="menuToggle" class="project-page">

    <input type="checkbox" />
    
    <span></span>
    <span></span>
    <span></span>
    
    <ul id="menu">
      {% for entry in site.data.navigation %}
        {% capture fullurl %}{{ site.baseurl }}{{ entry.url }}{% endcapture %}
          {% if fullurl == page.url %}
              {% assign current_page = fullurl %}
              {% break %}
          {% elsif page.url contains fullurl %}
              {% assign current_page = fullurl %}
          {% endif %}
      {% endfor %}

      {% for entry in site.data.navigation %}
        <a href="{{ site.baseurl }}{{ entry.url }}"><li>{{ entry.title }}</li></a>
      {% endfor %}

      <div class="social-container project">
        <a href="http://google.ca" style="display: block"><img src="{{ site.url }}/{{ site.image_path }}/github-w.svg"></a>
        <a href="#" style="display: block"><img src="{{ site.url }}/{{ site.image_path }}/linkedin-w.svg"></a>
        <a href="#" style="display: block"><img src="{{ site.url }}/{{ site.image_path }}/resume-w.svg"></a>
      </div>
    </ul>

  </div>
</nav>