<nav role="navigation">
  <div id="menuToggle">

    <input type="checkbox" />
    
    <span></span>
    <span></span>
    <span></span>
    
    <ul id="menu">
      {% for entry in site.data.navigation %}
        {% capture fullurl %}{{ site.baseurl }}{{ entry.url }}{% endcapture %}
          {% if fullurl == page.url %}
              {% assign current_page = fullurl %}
              {% break %}
          {% elsif page.url contains fullurl %}
              {% assign current_page = fullurl %}
          {% endif %}
      {% endfor %}

      {% for entry in site.data.navigation %}
        <a href="{{ site.baseurl }}{{ entry.url }}"><li>{{ entry.title }}</li></a>
      {% endfor %}
    </ul>

  </div>
  <div class="social-container">
    <a href="https://github.com/tessakruger" style="display: block"><i class="ios ion-social-octocat" aria-hidden="true"></i></a>
    <a href="https://www.linkedin.com/in/tessakruger" style="display: block"><i class="ios ion-social-linkedin-outline" aria-hidden="true"></i></a>
    <a href="#" style="display: block"><i class="ios ion-ios-paper-outline" aria-hidden="true"></i></a>
  </div>
  <div id="logo" class="nav-logo">
    <a href="{{ site.url }}">
      <img id="tk-logo" src="{{ site.url }}/{{ site.image_path }}/tk-logo.svg"></a>
  </div>
</nav>