<nav role="navigation">
  <div id="menuToggle" class="project-page">

    <input type="checkbox" />
    
    <span></span>
    <span></span>
    <span></span>
    
    <ul id="menu">
      {% for entry in site.data.navigation %}
        {% capture fullurl %}{{ site.baseurl }}{{ entry.url }}{% endcapture %}
          {% if fullurl == page.url %}
              {% assign current_page = fullurl %}
              {% break %}
          {% elsif page.url contains fullurl %}
              {% assign current_page = fullurl %}
          {% endif %}
      {% endfor %}

      {% for entry in site.data.navigation %}
        <a href="{{ site.baseurl }}{{ entry.url }}"><li>{{ entry.title }}</li></a>
      {% endfor %}

      <div class="social-container project">
        <a href="https://github.com/tessakruger" style="display: block"><i class="ios ion-social-octocat" aria-hidden="true"></i></a>
        <a href="www.linkedin.com/in/tessakruger" style="display: block"><i class="ios ion-social-linkedin-outline" aria-hidden="true"></i></a>
        <a href="#" style="display: block"><i class="ios ion-document" aria-hidden="true"></i></a>
      </div>
    </ul>

  </div>
</nav>