{% for entry in site.data.navigation %}
	{% capture fullurl %}{{ site.baseurl }}{{ entry.url }}{% endcapture %}
    {% if fullurl == page.url %}
        {% assign current_page = fullurl %}
        {% break %}
    {% elsif page.url contains fullurl %}
        {% assign current_page = fullurl %}
    {% endif %}
{% endfor %}

{% for entry in site.data.navigation %}
    {% if entry.url == current_page %}
        {% assign current = ' class="current"' %}
    {% else %}
        <!-- We have to declare it 'null' to ensure it doesn't propagate. -->
        {% assign current = null %}
    {% endif %}
    {% assign sublinks = entry.sublinks %}
    {% if sublinks %}
    <div{{ current }}>
        <a href="{{ site.baseurl }}{{ entry.url }}">{{ entry.title }}</a>
            {% for sublink in sublinks %}
            <div data-filter=".{{ sublink.category }}"><a href="{{ site.baseurl }}{{ sublink.url }}">{{ sublink.title }}</a></div>
            {% endfor %}
    </div>
    {% else %}
    <div{{ current }}>
    	<a href="{{ site.baseurl }}{{ entry.url }}">{{ entry.title }}</a>
    </div>
    {% endif %}
{% endfor %}

<script src="../public/js/mixitup.min.js"></script>
<script src="../public/js/mixitup.js"></script>

