<div class="slider-container">
	<div class="slider-wrap">
		<nav class="slider-nav">
			{% for item in page.images-array %}
		  		<a href="#slide-{{ item.id }}" class="active">Slide {{ item.id }}</a> 
		  	{% endfor %}
		</nav>
		<div class="slider" id="slider">
			<div class="holder">
			  {% for item in page.images-array %}
					<div class="slide" id="slide-{{ item.id }}" style="background-image: url({{ site.url }}/{{ site.image_path }}{{ item.image }})">
					</div>
			  {% endfor %}
			</div>
		</div>
	</div>
</div>

<script src="../../../../public/js/slider.js"></script>
<script src="../../../../public/js/resize-sensor.js"></script>
<script src="../../../../public/js/element-queries.js"></script>