<div class="slider-container">
	<div class="slider-wrap">
	  <div class="slider" id="slider">
	    <div class="holder">
	      {% for item in page.images-array %}
				<div class="slide" id="slide-{{ item.id }}" style="background-image: url({{ site.url }}/{{ site.image_path }}{{ item.image }})">
				</div>
	      {% endfor %}
	    </div>
	  </div>
	  <nav class="slider-nav">
	    <a href="#slide-0" class="active">Slide 0</a> 
	    <a href="#slide-1">Slide 1</a> 
	    <a href="#slide-2">Slide 2</a> 
	  </nav>
	</div>
</div>

<script src="../../../../public/js/slider.js"></script>
<script src="../../../../public/js/resize-sensor.js"></script>
<script src="../../../../public/js/element-queries.js"></script>