.tk-logo {
	display: flex;
	flex-direction: column;;
	padding: 40px 15px;
	align-items: center;
	height: 50%;

	.tessa {
		max-width: 380px;
		width: 100%;
	}

	.kruger {
		margin: -35px 0 0 125px;
		text-align: left;

		.hidden-load {
			visibility: hidden;
			color: transparent;
		}

		#typewriter{
				font-size: 5em;
				margin: 0;
				font-family: $anonymous;

				&:after{
					content: "_";
					animation: blink 600ms linear infinite alternate;
				}

				&.small-font {
					font-size: 1.5em;
				}
		}
	}
}

@include keyframes(blink) {
	0%{opacity: 0;}
	100%{opacity: 1;}
}

.choose {
	text-align: center;
	margin: 90px auto 0;
	width: 100%;

	.controls {
		width: 100%;
		display: flex;
		justify-content: space-around;
	}

	button {
		border: none;
		background: none;
		border-radius: none;
		color: #c0c9ce;
		text-transform: uppercase;;
		min-width: 140px;
		padding: 15px 40px;
		margin: 5px;
		transition: all 250ms ease-in-out;
		font-size: 18px;

		&:hover,
		&:focus {
			background: none;
			border: none;
		}
	}
}


// .left-brain,
// .right-brain {
// 	position: fixed;
// 	z-index: -1;
// 	display: none;
// 	height: 2400px;
// 	width: 80%;
// 	top: -550px;

// 	div {
// 		-webkit-transform: rotate(-10deg);
// 		margin-top: 91px;
// 		margin-left: -100px;
// 		text-align: left;
// 		left: 0;
// 	}
// }

// .left-brain {
// 	background: $yellow;
// 	left: -460px;
// 	-webkit-transform: rotate(30deg);

// }

// .right-brain {
// 	background: $dark-blue;
// 	right: -460px;
// 	-webkit-transform: rotate(-30deg);
// }

// @media (max-width: 1347px) {
// 	.left-brain {
// 		-webkit-transform: rotate(70deg);
// 		top: -1000px;
// 		left: -300px;
// 	}

// 	.right-brain {
// 		-webkit-transform: rotate(-70deg);
// 		top: -1000px;
// 		right: -300px;
// 	}
// }

@media (max-width: 600px) {
	.tk-logo .kruger {
		margin: -20px 0;

		#typewriter { font-size: 4.5em; }
	}
	// .left-brain {
	// 	-webkit-transform: rotate(80deg);
	// }

	// .right-brain {
	// 	-webkit-transform: rotate(-80deg);
	// }
}

@media (max-width: 380px) {
	.tk-logo .kruger {
		margin: -20px 0;

		#typewriter { font-size: 3em; }
	}
}