#content {
	opacity: 0;
	position: relative;
}

.wrapper {
	@include flexbox();
	@include justify-content(flex-start);

	.wrapper--left-side {
		@include flexbox();
	    background: $light-blue;
	    // margin-top: 80px;
	    margin-left: 80px;
	    height: 100%;
	    width: calc(35% - 60px);
	    padding: 90px 25px 0;

	    &.left-post {
	    	width: calc(60%);
	    	margin-left: 0;
	    	padding: 0;
	    }
	}

	.wrapper--right-side {
		@include flexbox();
		@include flex-direction(column);
		background: none;
		margin: 50px 0 auto 35%;
		padding: 0 50px 250px;
		z-index: 1;
		width: 100%;

		&.right-post {
			margin: 0 0 auto 60%;
			background: #fff;
			padding-top: 80px;
			position: relative;
		}

		.btn-controls {
			margin-bottom: 15px;
		}
	}

	.footer--container {
		display: none;
		height: 80px;
		width: 100%;
		position: absolute;
		bottom: 0;
		right: 0px;
		left: 0;
		z-index: 1;
		cursor: pointer;
	}

	.wrapper--category {
		background: none;
		@include flexbox();
		align-items: flex-end;
		top: 0;
		right: 0;
		height: 100vh;
		padding-bottom: 20px;
		min-width: 100px;
		z-index: 1;
		opacity: 0.4;

		.title {
			transform: rotate(-90deg);
			margin: 0 auto;
			margin-left: -15px;
			width: 1em;
			white-space: nowrap;
			font-size: 80pt;
			color: #edf0f1;
		}
	}
}

.fixed {
	position: fixed;
}

.absolute {
	position: absolute;
}

//List of projects on home page

.projects {
	// display: flex;
	flex-direction: column;

	a { text-transform: none;

		.project-item {
			display: flex;
			margin-top: 25px;
			background: none;
			transition: background 250ms ease-in-out;

			&:hover,
			&:focus {
				background: #eaecef;
				border-radius: 8px;
			}

			p {
				font-family: $museo;
			}

			.info {
				display: flex;
				flex-direction: column;
				padding-top: 5px;
				flex: 1;

				* {
					margin: 5px;
				}
			}

			.logo {
				width: 150px;
				height: 150px;
				margin: 10px 25px 10px 10px;
				border-radius: 3px;
			}
		}
	}

}

// Second list of projects on project page
.project-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	height: max-content;
	align-content: flex-start;

	.project-block {
		width: 100%;
		height: fit-content;
		position: relative;
		flex-basis: 33%;
		margin: -1px 0;

		figure {
			max-width: unset;
			max-height: unset;
			min-width: unset;
			min-height: unset;
			width: 100%;
			height: 100%;
			margin: 0;
			display: block;

			img {
				height: auto;
				margin: auto;
				width: 800px;
				max-height: unset;
			}

			figcaption {
				padding: 1em
			}
		}

		h2 {
			word-break: break-word;
			font-size: 200%;
			font-size: 2vw;

			span.line {
				display: inline-block;
			}
		}

		.month {
			text-transform: uppercase;
			font-family: $museo;
			font-weight: bold;
			width: fit-content;
    	display: block;
		}
	}
}

figure.effect-julia p {
	transform: translate3d(-700px,0,0);
}

// contact page
.contact--wrapper {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	text-align: center;
	align-items: flex-start;

	.contact--info {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		flex-basis: 30%;
		width: 100%;
		min-width: 150px;
		margin: 20px 10px;

		a {
			border: 2px solid $dark-blue;
			border-radius: 4px;
			height: 100%;

			.contact--icon {
				transition: color 250ms ease-in-out;
				padding: 25px 10px 0 10px;

				&:hover {
					color: $yellow;
				}
			}

			h4 {
				text-transform: none;
				font-family: $museo;
				padding: 0 15px;
				margin: 0 auto 15px auto;
			}
		}

		p {
			font-weight: 600;
			letter-spacing: 1px;
			text-transform: uppercase;
			font-size: 0.8em;
			word-break: break-word;
			padding: 0 10px 25px 10px;
			margin-top: 0;
		}

		span.line {
			display: inline-block;
		}
	}
}

//icons
.icon.contact {
	font-size: 3em;
	transform: perspective(1px) translateZ(0);
	width: 100%;
	height: 72px;

	&.ion-ios-paperplane-outline {
		font-size: 3.5em;
	}

	&:hover {
		-webkit-animation-name: bounce;
    animation-name: bounce;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    color: inherit;
	}

	@keyframes bounce {
		16.65% {
		    -webkit-transform: translateY(8px);
		    transform: translateY(8px);
		}

		33.3% {
		    -webkit-transform: translateY(-6px);
		    transform: translateY(-6px);
		}
		49.95% {
		    -webkit-transform: translateY(4px);
		    transform: translateY(4px);
		}
		66.6% {
		    -webkit-transform: translateY(-2px);
		    transform: translateY(-2px);
		}
		83.25% {
		    -webkit-transform: translateY(1px);
		    transform: translateY(1px);
		}
		100% {
		    -webkit-transform: translateY(0);
		    transform: translateY(0);
		}
	}
}
.icon {
	&.large {
		transform: perspective(1px) translateZ(0);
		&:before {
			font-size: 3em;
			position: absolute;
			padding: 10px;
			margin-left: -17px;
		}
		&:hover {
			-webkit-animation-name: bounce;
	    animation-name: bounce;
	    -webkit-animation-duration: 1s;
	    animation-duration: 1s;
	    -webkit-animation-timing-function: ease-in-out;
	    animation-timing-function: ease-in-out;
	    -webkit-animation-iteration-count: 1;
	    animation-iteration-count: 1;
		}
		@keyframes bounce {
			16.65% {
			    -webkit-transform: translateY(8px);
			    transform: translateY(8px);
			}

			33.3% {
			    -webkit-transform: translateY(-6px);
			    transform: translateY(-6px);
			}
			49.95% {
			    -webkit-transform: translateY(4px);
			    transform: translateY(4px);
			}
			66.6% {
			    -webkit-transform: translateY(-2px);
			    transform: translateY(-2px);
			}
			83.25% {
			    -webkit-transform: translateY(1px);
			    transform: translateY(1px);
			}
			100% {
			    -webkit-transform: translateY(0);
			    transform: translateY(0);
			}
		}

	}
}