#content { opacity: 0 }

.wrapper {
	@include flexbox();
	@include justify-content(flex-start);

	.wrapper--left-side {
		@include flexbox();
	    background: $light-blue;
	    // margin-top: 80px;
	    margin-left: 100px;
	    height: 100%;
	    width: calc(35% - 100px);
	    padding: 90px 25px 0;

	    &.left-post {
	    	width: calc(60%);
	    	margin-left: 0;
	    }
	}

	.wrapper--right-side {
		@include flexbox();
		@include flex-direction(column);
		background: none;
		margin: 50px 0 auto 35%;
		padding: 0 50px 250px;
		z-index: 1;
		width: 100%;

		&.right-post {
			margin: 0 0 auto 60%;
			background: #fff;
			padding-top: 80px;
		}

		.btn-controls {
			margin-bottom: 15px;
		}
	}

	.wrapper--category {
		background: none;
		@include flexbox();
		align-items: flex-end;
		top: 0;
		right: 0;
		height: 100vh;
		padding-bottom: 20px;
		min-width: 100px;
		z-index: 1;

		.title {
			transform: rotate(-90deg);
			margin: 0 auto;
			margin-left: -15px;
			width: 1em;
			white-space: nowrap;
			font-size: 80pt;
			color: #edf0f1;
		}
	}
}

.fixed {
	position: fixed;
}

.absolute {
	position: absolute;
}

//List of projects on home page

.projects {
	// display: flex;
	flex-direction: column;

	a { text-transform: none;

		.project-item {
			display: flex;
			margin-top: 25px;
			background: none;
			transition: background 250ms ease-in-out;

			&:hover,
			&:focus {
				background: #eaecef;
				border-radius: 8px;
			}

			p {
				font-family: $museo;
			}

			.info {
				display: flex;
				flex-direction: column;
				padding-top: 5px;
				flex: 1;

				* {
					margin: 5px;
				}
			}

			.logo {
				width: 150px;
				height: 150px;
				margin: 10px 25px 10px 10px;
				border-radius: 3px;
			}
		}
	}

}

// Second list of projects on project page
.projects2 {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	// width: 100%;

	.project-block {
		width: calc(100% * 1/3 - 1px);
		// width: 100%;
		height: 100%;
		position: relative;
		min-width: 320px;
		min-height: 320px;
		max-width: 356px;
		max-height: 356px;
		flex: 1;
		// margin-top: -1px;

		h2 {
			word-break: break-word;
		}

		.month {
			text-transform: uppercase;
			font-family: $museo-bold;
		}
	}
}

// contact page
.contact--wrapper {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	text-align: center;

	.contact--info {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		flex: 1;
		width: 100%;
		min-width: 150px;
		margin: 20px;

		a {
			border: 2px solid $dark-blue;
			border-radius: 8px;
			padding: 20px 15px 0 15px;
			height: 100%;

			.contact--icon {
				transition: color 250ms ease-in-out;

				&:hover {
					color: $yellow;
				}
			}

			h4 {
				text-transform: none;
				font-family: $museo;
			}
		}

		p {
			font-weight: 600;
			letter-spacing: 1px;
			text-transform: uppercase;
			font-size: 0.8em;
			word-break: break-word;
		}
	}
}