.project-card { //cardWrapper
  width: 130px;
  height: 130px;
  position:relative;
  float:left;
  margin:5px;
  cursor:pointer;
  -webkit-font-smoothing:antialiased;

    .front, .back { //cardFace
      position: absolute;
      width: 130px;
      height: 130px;
      overflow:hidden;
      padding: 10px;
      border-radius: 6px;

      h3 {
        	font-size: 1.2em;
        	word-wrap: break-word;
        	color: #fff;
        }

      i {
      	position: absolute;
      	bottom: 12px;
      	right: 12px;
      }
    }

    .back {
      text-align: center;
      display: flex;
      justify-content: center;

      img {
        max-width: 80%;
        margin: auto;
    }
  }
}

.more-projects,
.navigate {
	margin-top: 100px;
	clear: right;
}