.slider-container {
	position: relative;
	width: 100%;

	.slider-wrap {
	  width: 100%;
	  height: 60vh;
	  margin: 20px auto;
	  position: absolute;
	  overflow: hidden;

	  .slider-nav {
	    text-align: center;
	    margin: 10px 0 25px 0;

	    a {
	      width: 12px;
	      height: 12px;
	      display: inline-block;
	      background: rgba(255, 255, 255, 0.5);
	      overflow: hidden;
	      text-indent: -9999px;
	      border-radius: 50%;
	      margin: 5px;
	    }

	    a.active {
	      background: #fff;
	    }
	  }

	  .slider {
	    overflow-x: hidden;

	      .slide {
	        float: left;
	        width: 500px;
	        height: 53vh;
	        position: relative;
	        background-position: center center;
	        background-size: contain;
	        background-repeat: no-repeat;
	      }
	  }
	}

	.project-info {
		position: absolute;
		bottom: 25px;
		display: flex;
		justify-content: space-between;
		width: calc(100% - 10px - 1px);
		align-items: flex-end;

		p {
			margin: 0 15px;

			&:nth-child(1) {
				font-family: $museo-bold;
			}
		}
	}
}

p.post-meta {
	display: none;
}

.post-date {
	margin-top: -35px;
}