<!DOCTYPE html>
<html>
  {% include head.html %}

	<body>

		{% include splash-page.html %}

		<div class="wrapper" id="content">

			<!-- NAVIGATION -->
			{% if page.is_post %}
				<div id="post-nav" class="wrapper--navbar post">
					<!-- {% include navigation-project.html %} -->
				</div>
			{% else %}
				<div id="post-nav" class="wrapper--navbar fixed">
					{% include navigation.html %}
				</div>
				<div id="logo" class="nav-logo">
					<a href="{{ site.url }}"><img id="tk-logo" src="{{ site.url }}/{{ site.image_path }}/tk-logo.svg"></a>
				</div>
			{% endif %}

			<!-- IF PROJECT, DISPLAY PROJECTS -->
			{% if page.is_post %}
				<!-- DESIGN PROJECTS -->
				{% if page.category contains "design" %}
					<div class="wrapper--left-side fixed left-post" style="background:#fff">
						{% include project-assets.html %}
					</div>
					<div class="wrapper--right-side right-post" style="background:#f9f9f9">
						<div class="maximum-width">
							{{ content }}
							{% include more-projects.html %}
						</div>
					</div>
				<!-- CODING PROJECTS -->
				{% else %}
					{% for item in page.section %}
						<div id="display-project-assets">
							<div class="wrapper--left-side fixed left-post" style="background:{{ item.color }}">
								{% include project-assets.html %}
							</div>
						</div>

						<script>
							function calcVH() {
							  let vH = Math.max(document.documentElement.clientHeight, window.innerHeight || 0);
							  document.getElementById("display-project-assets").setAttribute("style", "height:" + vH + "px;");
							}
							calcVH();
							window.addEventListener('onorientationchange', calcVH, true);
						</script>
					{% endfor %}
					<div class="wrapper--right-side right-post">
						<div class="maximum-width">
							{{ content }}
							{% include more-projects.html %}
						</div>
					</div>
				{% endif %}
			<!-- IF NOT PROJECT, DISPLAY REGULAR CONTENT -->
			{% else %}
				<div class="wrapper--left-side fixed">
					{% include left-side.html %}
				</div>

				<div class="wrapper--right-side maximum-width">
					<span id="code"></span>
					<span id="design"></span>
						{{ content }}
				</div>
			{% endif %}

			<!-- CATEGORY SIDEBAR -->
			<div class="wrapper--category fixed">
				{% include category.html %}
			</div>

		</div>

		<script src="../public/js/morph/imagesloaded.pkgd.min.js"></script>
		<script src="../public/js/morph/charming.min.js"></script>
		<script src="../public/js/morph/anime.min.js"></script>
		<script src="../public/js/morph/demo1.js"></script>

	</body>
</html>