<!DOCTYPE html>
<html>
  {% include head.html %}

	<body>

		<div class="wrapper">
		
			<div class="wrapper--navbar fixed">
				{% if page.is_post %}
				<div id="hoverdown"><i class="fa fa-bars fa-2x icon-light" aria-hidden="true"></i>
					<div id="nav" class="post">
						{% include navigation.html %}
					</div>
				</div>
				{% else %}
				<div id="hoverdown"><i class="fa fa-bars fa-2x icon-dark" aria-hidden="true"></i>
					<div id="nav">
						{% include navigation.html %}
					</div>
				</div>
				{% endif %}
			</div>
			{% if page.is_post %}
			{% for item in page.section %}
				<div class="wrapper--left-side fixed left-post" style="{{ item.bg }}">
					{% include project-assets.html %}
				</div>
			{% endfor %}
				<div class="wrapper--right-side right-post">
					{{ content }}
					{% include more-projects.html %}
				</div>
			{% else %}
				<div class="wrapper--left-side fixed">
					{% include left-side.html %}
				</div>

				<div class="wrapper--right-side">
					{{ content }}
				</div>
			{% endif %}

			<div class="wrapper--category fixed">
				{% include category.html %}
			</div>

		</div>

	</body>
</html>