---
layout: main
---
<main class="project">
	<section id="contact-content">
		<img id="project-image" src="{{ site.baseurl }}/{{ site.image_path }}/{{ page.image }}">
		<h2 id="project-date">{{ page.date-month }}</h2>
		<h1 id="project-title">{{ page.title }}</h1>

		{% for title in site.collections %}
			<h3>{{ title.defaults.about-title }}</h3>
		{% endfor %}
		<p>{{ page.about }}</p>
		{% for title in site.collections %}
			<h3>{{ title.defaults.role-title }}</h3>
		{% endfor %}
			<p>{{ page.role }}</p>

		{{ content }}

		<h1>{{ page.category }}</h1>

	</section>

</main>